include geneformer/gene_median_dictionary_gc104M.pkl
include geneformer/gene_name_id_dict_gc104M.pkl
include geneformer/ensembl_mapping_dict_gc104M.pkl
include geneformer/token_dictionary_gc104M.pkl

include geneformer/gene_dictionaries_30m/gene_median_dictionary_gc30M.pkl
include geneformer/gene_dictionaries_30m/gene_name_id_dict_gc30M.pkl
include geneformer/gene_dictionaries_30m/ensembl_mapping_dict_gc30M.pkl
include geneformer/gene_dictionaries_30m/token_dictionary_gc30M.pkl